/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  #about{
    text-align: justify;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: disc;
    margin-left: 2rem;
  }
  ul ol{
    margin-left: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
   footer img{
    width: 1.7rem;
    position: absolute;
    left:4rem;
   }